{% extends 'szablon.html' %}

{% block naglowek %}Miasta{% endblock naglowek %}

{% block tresc %}
<h2>Dodaj miasto</h2>
<form action="." method="POST">
    {% csrf_token %}
    <input type="text" name="nazwa" maxlength="30">
    <br>
    <input type="text" name="kod" maxlength="6">
    <br>
    <input type="submit" value="Zapisz">
</form>
<h2>Lista miast</h2>
<ol>
    {% for miasto in miasta %}
        <li>{{ miasto.nazwa }}&nbsp;{{ miasto.kod }}</li>
    {% endfor %}
</ol>
{% endblock tresc %}

