body{
  background-image: url('tlo.jpeg');
  background-attachment: fixed;
  background-position: center ;
  background-size: cover ;

}

/* style użytkownika*/
.mark, mark{
  background-color:rgb(223, 56, 207)



}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.gallery-item{
  margin: 5px;

}
